[OAUTH]
GOOGLE_ID = INSERT_GOOGLE_ID
GOOGLE_SECRET = INSERT_GOOGLE_SECRET

[DATABASE]
CONNECTION_STR = INSERT_CONNECTION_STR

[GOOGLE]
BROWSER_KEY = INSERT_BROWSER_KEY_MAPS
SERVER_KEY = INSERT_SERVER_KEY_GEOCODING