<table class="table table-bordered table-responsive" id="adminBarsDataTable">
    {% for bar in bar_list %}
        <tr id="{{ bar['id'] }}">
            <td>{{ bar['position'] }}</td>
            <td>{{ bar['bar_name'] }}</td>
            <td>{{ bar['location'] }}</td>

            <td>
                <button class="editBar">Edit</button>
                <br>
                <br>
                <button class="deleteBar">Delete</button>
            </td>
        </tr>
    {% endfor %}
</table>