<table class="table table-bordered table-responsive" id="adminBarsDataTable">
    {% for bar in bar_list %}
        <tr id="{{ bar['id'] }}">
            <td>{{ bar['position'] }}</td>
            <td>{{ bar['bar_name'] }}</td>
            <td>{{ bar['location'] }}</td>
            <td><input type="radio" name="currentBar" {% if bar['current'] %}checked{% endif %}></td>
            <td>
                <button class="editBar">Edit</button>
                <br>
                <br>
                <button class="deleteBar">Delete</button>
            </td>
        </tr>
    {% endfor %}
</table>