<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #DDDDDD;" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ url_for('gw.index') }}">
                <img class="navbar-brand n" src="{{ url_for('static', filename='images/logo.png') }}">
            </a>
        </div>
        <a class="navbar-brand navbar-nav" href="{{ url_for('gw.map') }}">Map</a>
        <a class="navbar-brand navbar-nav" href="{{ url_for('gw.admin') }}">Admin</a>
    </div>
</div>